Repository nugunaTeam/FReview2, pull requests merged in 2024-08, with the labels that each got.

#38 [Feat-security-oauth-login] 구글 유저 인증 진행(완성)
  .gitignore
  pom.xml
  src/main/java/com/nuguna/freview/OAuth/controller/OAuthApiController.java
  src/main/java/com/nuguna/freview/OAuth/controller/OAuthController.java
  src/main/java/com/nuguna/freview/OAuth/dto/request/GoogleUserRegistRequestDTO.java
  src/main/java/com/nuguna/freview/OAuth/dto/response/GoogleUserInfoDTO.java
  src/main/java/com/nuguna/freview/OAuth/service/OAuthService.java
  src/main/java/com/nuguna/freview/OAuth/service/OAuthUserService.java
  src/main/java/com/nuguna/freview/OAuth/service/impl/OAuthServiceImpl.java
  src/main/java/com/nuguna/freview/OAuth/service/impl/OAuthUserServiceImpl.java
  src/main/java/com/nuguna/freview/common/controller/AuthController.java
  src/main/java/com/nuguna/freview/common/mapper/RegisterMapper.java
  src/main/java/com/nuguna/freview/common/service/RegisterService.java
  src/main/java/com/nuguna/freview/common/service/impl/RegisterServiceImpl.java
  src/main/java/com/nuguna/freview/security/login/CustomUserDetailsService.java
  src/main/resources/mappers/auth/register/register-map.xml
  src/main/webapp/WEB-INF/spring/root-context.xml
  src/main/webapp/WEB-INF/spring/security-context.xml
  src/main/webapp/assets/js/hr.js
  src/main/webapp/common-google-register.jsp
  src/main/webapp/common-login.jsp
Labels: 인증/인가, JSP, BE, 공통

#40 [feat-customer] 체험단 > MY > 알림페이지 API 구현
  src/main/java/com/nuguna/freview/customer/constant/CustomerMyActivityPageConstant.java
  src/main/java/com/nuguna/freview/customer/constant/CustomerMyNotificationPageConstant.java
  src/main/java/com/nuguna/freview/customer/controller/CustomerMyNotificationApiController.java
  src/main/java/com/nuguna/freview/customer/dto/response/CustomerZzimedMeCustomersRetrieveResponseDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/CustomerZzimedMeStoresRetrieveResponseDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/ZzimedMeCustomerInfoDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/ZzimedMeStoreInfoDTO.java
  src/main/java/com/nuguna/freview/customer/mapper/CustomerMyNotificationMapper.java
  src/main/java/com/nuguna/freview/customer/service/CustomerMyNotificationService.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerMyActivityServiceImpl.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerMyNotificationServiceImpl.java
  src/main/java/com/nuguna/freview/global/util/PaginationUtil.java
  src/main/resources/mappers/customer/customer-my-notification-map.xml
Labels: 체험단, JSP, BE, 공통

#23 [feat-store] 스토어 활동 페이지 구현 > 좋아요 | 찜 | 체험 탭
  src/main/java/com/nuguna/freview/store/constant/StoreListConstant.java
  src/main/java/com/nuguna/freview/store/controller/StoreActivityApiController.java
  src/main/java/com/nuguna/freview/store/controller/page/StoreActivityPageController.java
  src/main/java/com/nuguna/freview/store/dto/request/StoreListPaginationRequestDTO.java
  src/main/java/com/nuguna/freview/store/dto/request/page/StoreActivityPageRequestDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/SendLikeInfoDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/SendZzimCustomerInfoDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/SendZzimStoreInfoDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreActivityPaginationCountResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreActivitySendLikeResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreActivitySendZzimCustomerResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreActivitySendZzimResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreActivitySendZzimStoreResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreActivityWrittenPostResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreListPaginationResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StorePaginationInfoResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/WrittenPostInfoDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/page/StoreActivityPageResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/postListTotalCountResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/sendLikeTotalCountResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/sendZzimCustomerTotalCountResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/sendZzimStoreTotalCountResponseDTO.java
  src/main/java/com/nuguna/freview/store/mapper/StoreActivityPageMapper.java
  src/main/java/com/nuguna/freview/store/service/StoreActivityPageService.java
  src/main/java/com/nuguna/freview/store/service/impl/StoreActivityPageServiceImpl.java
  src/main/resources/mappers/store/page/store-activity-page-map.xml
  src/main/resources/mappers/store/pagination-count-map.xml
  src/main/webapp/boss-received-request.jsp
  src/main/webapp/store-activity-page.jsp
Labels: 어드민, JSP, BE

#46 [refactor-common] 체험단 / 사장님 추천 페이지 jsp 리팩토링
  src/main/webapp/common-customer-recommendation.jsp
  src/main/webapp/common-store-recommendation.jsp
Labels: JSP, 공통

#47 [feat-common] 공통 header, footer 파일 생성 및 일부 페이지 적용
  src/main/java/com/nuguna/freview/common/controller/NoticeApiController.java
  src/main/webapp/admin-management-customer.jsp
  src/main/webapp/admin-management-experience.jsp
  src/main/webapp/admin-management-store.jsp
  src/main/webapp/admin-notice-create.jsp
  src/main/webapp/admin-personal-profile.jsp
  src/main/webapp/common-customer-recommendation.jsp
  src/main/webapp/common-mojip-board.jsp
  src/main/webapp/common-mojip-detail.jsp
  src/main/webapp/common-notice-board.jsp
  src/main/webapp/common-notice-detail.jsp
  src/main/webapp/common-store-recommendation.jsp
  src/main/webapp/footer.jsp
  src/main/webapp/header.jsp
Labels: JSP, BE, 공통

#45 [feat-store] 스토어 마이 브랜딩 페이지 관련 API 구현
  src/main/java/com/nuguna/freview/customer/service/CustomerUtilService.java
  src/main/java/com/nuguna/freview/store/constant/StoreMyBrandPageContant.java
  src/main/java/com/nuguna/freview/store/controller/StoreBrandPageController.java
  src/main/java/com/nuguna/freview/store/controller/StoreMyBrandInfoApiController.java
  src/main/java/com/nuguna/freview/store/dto/request/StoreHideReviewRequestDTO.java
  src/main/java/com/nuguna/freview/store/dto/request/StoreMyFoodTypesUpdateRequestDTO.java
  src/main/java/com/nuguna/freview/store/dto/request/StoreMyIntroduceUpdateRequestDTO.java
  src/main/java/com/nuguna/freview/store/dto/request/StoreMyStoreLocationUpdateRequestDTO.java
  src/main/java/com/nuguna/freview/store/dto/request/StoreMyTagsUpdateRequestDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreBrandInfoResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreMyFoodTypesUpdateResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreMyIntroduceUpdateResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreMyProfileUpdateResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreMyStoreLocationUpdateResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreMyTagsUpdateResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreRecentMojipPostInfoDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreRecentMojipPostInfosRetrieveResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreReviewInfosRetrieveResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreReviewLogInfoDTO.java
  src/main/java/com/nuguna/freview/store/mapper/StoreBrandPageMapper.java
  src/main/java/com/nuguna/freview/store/mapper/StoreMyBrandMapper.java
  src/main/java/com/nuguna/freview/store/service/StoreBrandPageService.java
  src/main/java/com/nuguna/freview/store/service/StoreMyBrandService.java
  src/main/java/com/nuguna/freview/store/service/impl/StoreBrandPageServiceImpl.java
  src/main/java/com/nuguna/freview/store/service/impl/StoreMyBrandServiceImpl.java
  src/main/java/com/nuguna/freview/store/validation/StoreTagsValidator.java
  src/main/java/com/nuguna/freview/store/validation/annotation/ValidStoreTags.java
  src/main/resources/mappers/store/store-brand-page-map.xml
  src/main/resources/mappers/store/store-my-brand-map.xml
  src/main/webapp/WEB-INF/spring/servlet-context.xml
  src/main/webapp/boss-my-brand-info.jsp
  src/main/webapp/boss-my-request.jsp
  src/main/webapp/store-brand-info.jsp
  src/main/webapp/store-my-brand-info.jsp
Labels: 스토어, JSP, BE

#48 [feat-store] 다른 사람이 보는 스토어 브랜딩 페이지 API 구현
  src/main/java/com/nuguna/freview/store/controller/StoreOtherBrandInfoApiController.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreOtherReviewInfosRetrieveResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreOtherReviewLogInfoDTO.java
  src/main/java/com/nuguna/freview/store/mapper/StoreOtherBrandMapper.java
  src/main/java/com/nuguna/freview/store/service/StoreOtherBrandService.java
  src/main/java/com/nuguna/freview/store/service/impl/StoreOtherBrandServiceImpl.java
  src/main/resources/mappers/store/store-other-brand-map.xml
Labels: 스토어, JSP, BE

#36 [feat-store] 스토어 알림페이지 > 좋아요 | 찜 | 체험 탭 구현
  src/main/java/com/nuguna/freview/store/controller/StoreNotificationApiController.java
  src/main/java/com/nuguna/freview/store/controller/page/StoreNotificationPageController.java
  src/main/java/com/nuguna/freview/store/dto/request/page/StoreNotificationPageRequestDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/ExperienceApplyInfoDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/ExperienceProposalInfoDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/ReceivedLikeInfoDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/ReceivedZzimCustomerInfoDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/ReceivedZzimStoreInfoDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreNotificationExperienceApplyResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreNotificationExperienceProposalResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreNotificationReceivedLikeResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreNotificationReceivedZzimCustomerResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreNotificationReceivedZzimStoreResponseDTO.java
  src/main/java/com/nuguna/freview/store/mapper/StoreNotificationPageMapper.java
  src/main/java/com/nuguna/freview/store/service/StoreNotificationPageService.java
  src/main/java/com/nuguna/freview/store/service/impl/StoreNotificationPageServiceImpl.java
  src/main/resources/mappers/store/notification-pagination-count-map.xml
  src/main/resources/mappers/store/page/store-notification-page-map.xml
  src/main/webapp/store-notification-page.jsp
Labels: 스토어, JSP, BE

#44 [feat-security-jwtfilter] JWT 필터 구현
  src/main/java/com/nuguna/freview/OAuth/OAuthUserVO.java
  src/main/java/com/nuguna/freview/OAuth/controller/OAuthController.java
  src/main/java/com/nuguna/freview/OAuth/service/OAuthUserService.java
  src/main/java/com/nuguna/freview/OAuth/service/impl/OAuthServiceImpl.java
  src/main/java/com/nuguna/freview/OAuth/service/impl/OAuthUserServiceImpl.java
  src/main/java/com/nuguna/freview/customer/controller/page/CustomerMainPageController.java
  src/main/java/com/nuguna/freview/security/JwtUtil.java
  src/main/java/com/nuguna/freview/security/jwtfilter/CustomAccessDeniedHandler.java
  src/main/java/com/nuguna/freview/security/jwtfilter/JWTfilter.java
  src/main/java/com/nuguna/freview/security/jwtfilter/JwtAuthenticationEntryPoint.java
  src/main/java/com/nuguna/freview/security/jwtfilter/JwtController.java
  src/main/java/com/nuguna/freview/security/jwtfilter/service/Impl/JwtUserServiceImpl.java
  src/main/java/com/nuguna/freview/security/jwtfilter/service/JwtUserService.java
  src/main/java/com/nuguna/freview/security/login/CustomUserDetailsService.java
  src/main/java/com/nuguna/freview/security/login/SuccessHandler.java
  src/main/java/com/nuguna/freview/security/logout/LogoutFilter.java
  src/main/java/com/nuguna/freview/store/controller/StoreMainPageController.java
  src/main/webapp/WEB-INF/spring/security-context.xml
  src/main/webapp/assets/js/jwt.js
  src/main/webapp/common-expiredtoken.jsp
  src/main/webapp/customer_main.jsp
Labels: 인증/인가, JSP, BE, 공통

#50 [feat-customer] 체험단 > MY > 알림 페이지 뷰 - API 연동 ( 체험단 > MY > 알림 페이지 구현 완료 )
  src/main/java/com/nuguna/freview/customer/constant/CustomerReviewLogConstant.java
  src/main/java/com/nuguna/freview/customer/controller/page/CustomerMyPageController.java
  src/main/java/com/nuguna/freview/customer/dto/response/ZzimedMeCustomerInfoDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/ZzimedMeStoreInfoDTO.java
  src/main/java/com/nuguna/freview/customer/mapper/CustomerPageMapper.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerPageServiceImpl.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerReviewServiceImpl.java
  src/main/resources/mappers/customer/customer-my-notification-map.xml
  src/main/resources/mappers/customer/page/customer-page-map.xml
  src/main/webapp/customer-my-notification.jsp
Labels: 체험단, JSP, BE

#42 [feat-admin/common] 코드 정리 및 성능 개선을 위한 리팩토링
  src/main/java/com/nuguna/freview/admin/constant/ManagementPageConstant.java
  src/main/java/com/nuguna/freview/admin/controller/CustomerManageApiController.java
  src/main/java/com/nuguna/freview/admin/controller/ExperienceManageApiController.java
  src/main/java/com/nuguna/freview/admin/controller/StoreManageApiController.java
  src/main/java/com/nuguna/freview/admin/service/ExperienceLogService.java
  src/main/java/com/nuguna/freview/admin/service/LikeLogService.java
  src/main/java/com/nuguna/freview/admin/service/PointLogService.java
  src/main/java/com/nuguna/freview/admin/service/UserInterestLogService.java
  src/main/java/com/nuguna/freview/admin/service/ZzimLogService.java
  src/main/java/com/nuguna/freview/admin/service/impl/AdminServiceImpl.java
  src/main/java/com/nuguna/freview/admin/vo/LikeAccumulationVO.java
  src/main/java/com/nuguna/freview/admin/vo/PointAccumulationVO.java
  src/main/java/com/nuguna/freview/admin/vo/UserInterestLogVO.java
  src/main/java/com/nuguna/freview/admin/vo/ZzimAccumulationVO.java
  src/main/java/com/nuguna/freview/common/constant/BoardPageConstant.java
  src/main/java/com/nuguna/freview/common/controller/MojipApiController.java
  src/main/java/com/nuguna/freview/common/controller/NoticeApiController.java
  src/main/java/com/nuguna/freview/common/controller/RecommendationApiController.java
  src/main/java/com/nuguna/freview/common/controller/page/MojipController.java
  src/main/java/com/nuguna/freview/common/dto/response/MojipPostDTO.java
  src/main/java/com/nuguna/freview/common/dto/response/page/MojipResponseDTO.java
  src/main/java/com/nuguna/freview/common/mapper/MojipMapper.java
  src/main/java/com/nuguna/freview/common/service/MojipService.java
  src/main/java/com/nuguna/freview/common/service/impl/MojipServiceImpl.java
  src/main/java/com/nuguna/freview/global/SchedulerConfig.java
  src/main/resources/mappers/admin/Interest-accumulation-map.xml
  src/main/resources/mappers/admin/experience-log-map.xml
  src/main/resources/mappers/admin/experience-postprocessing-log-map.xml
  src/main/resources/mappers/admin/hidden-review-map.xml
  src/main/resources/mappers/admin/like-log-map.xml
  src/main/resources/mappers/admin/rank-point-log-map.xml
  src/main/resources/mappers/admin/user-interest-accumulation-map.xml
  src/main/resources/mappers/admin/user-interest-log-map.xml
  src/main/resources/mappers/admin/user-interest-postprocessing-log-map.xml
  src/main/resources/mappers/common/mojip-map.xml
  src/main/resources/mappers/common/notice-map.xml
  src/main/resources/mappers/common/post-map.xml
  src/main/resources/mappers/common/user-map.xml
  src/main/resources/scheduler.properties
  src/main/webapp/WEB-INF/spring/servlet-context.xml
  src/main/webapp/admin-management-customer.jsp
  src/main/webapp/admin-personal-profile.jsp
  src/main/webapp/common-mojip-board.jsp
  src/main/webapp/common-mojip-detail.jsp
Labels: BE, 공통

#51 [Feat-security-jwtfilter2] JWT 필터 추가 작업
  src/main/java/com/nuguna/freview/customer/controller/page/CustomerMainPageController.java
  src/main/java/com/nuguna/freview/security/jwtfilter/JWTfilter.java
  src/main/java/com/nuguna/freview/security/jwtfilter/JwtContextHolder.java
  src/main/java/com/nuguna/freview/store/controller/StoreMainPageController.java
  src/main/webapp/WEB-INF/spring/security-context.xml
Labels: 인증/인가, BE, 공통

#24 [Feat security form login] 회원 Form 로그인
  .gitignore
  pom.xml
  src/main/java/com/nuguna/freview/OAuth/OAuthUserVO.java
  src/main/java/com/nuguna/freview/OAuth/controller/OAuthApiController.java
  src/main/java/com/nuguna/freview/OAuth/controller/OAuthController.java
  src/main/java/com/nuguna/freview/OAuth/dto/request/GoogleUserRegistRequestDTO.java
  src/main/java/com/nuguna/freview/OAuth/dto/response/GoogleUserInfoDTO.java
  src/main/java/com/nuguna/freview/OAuth/service/OAuthService.java
  src/main/java/com/nuguna/freview/OAuth/service/OAuthUserService.java
  src/main/java/com/nuguna/freview/OAuth/service/impl/OAuthServiceImpl.java
  src/main/java/com/nuguna/freview/OAuth/service/impl/OAuthUserServiceImpl.java
  src/main/java/com/nuguna/freview/admin/mapper/AdminMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/LikeAccumulationMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/LikeLogMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/LikePostProcessingLogMapper.java
  src/main/java/com/nuguna/freview/common/controller/AuthApiController.java
  src/main/java/com/nuguna/freview/common/controller/AuthController.java
  src/main/java/com/nuguna/freview/common/mapper/NoticeMapper.java
  src/main/java/com/nuguna/freview/common/mapper/RegisterMapper.java
  src/main/java/com/nuguna/freview/common/service/RegisterService.java
  src/main/java/com/nuguna/freview/common/service/impl/RegisterServiceImpl.java
  src/main/java/com/nuguna/freview/customer/controller/page/CustomerMainPageController.java
  src/main/java/com/nuguna/freview/customer/mapper/CustomerBrandMapper.java
  src/main/java/com/nuguna/freview/customer/mapper/CustomerReviewMapper.java
  src/main/java/com/nuguna/freview/global/util/SendMailUtil.java
  src/main/java/com/nuguna/freview/security/JwtUtil.java
  src/main/java/com/nuguna/freview/security/jwtfilter/CustomAccessDeniedHandler.java
  src/main/java/com/nuguna/freview/security/jwtfilter/JWTfilter.java
  src/main/java/com/nuguna/freview/security/jwtfilter/JwtAuthenticationEntryPoint.java
  src/main/java/com/nuguna/freview/security/jwtfilter/JwtContextHolder.java
  src/main/java/com/nuguna/freview/security/jwtfilter/JwtController.java
  src/main/java/com/nuguna/freview/security/jwtfilter/service/Impl/JwtUserServiceImpl.java
  src/main/java/com/nuguna/freview/security/jwtfilter/service/JwtUserService.java
  src/main/java/com/nuguna/freview/security/login/CustomAuthenticationProvider.java
  src/main/java/com/nuguna/freview/security/login/CustomUserDetail.java
  src/main/java/com/nuguna/freview/security/login/CustomUserDetailsService.java
  src/main/java/com/nuguna/freview/security/login/FailureHandler.java
  src/main/java/com/nuguna/freview/security/login/SuccessHandler.java
  src/main/java/com/nuguna/freview/security/login/mapper/LoginMapper.java
  src/main/java/com/nuguna/freview/security/login/service/LoginService.java
  src/main/java/com/nuguna/freview/security/login/service/impl/LoginServiceImpl.java
  src/main/java/com/nuguna/freview/security/logout/LogoutFilter.java
  src/main/java/com/nuguna/freview/store/controller/StoreMainPageController.java
  src/main/resources/mappers/auth/register/register-map.xml
  src/main/resources/mappers/security/login-map.xml
  src/main/webapp/WEB-INF/spring/root-context.xml
  src/main/webapp/WEB-INF/spring/security-context.xml
  src/main/webapp/WEB-INF/spring/servlet-context.xml
  src/main/webapp/WEB-INF/web.xml
  src/main/webapp/assets/js/hr.js
  src/main/webapp/assets/js/jwt.js
  src/main/webapp/common-expiredtoken.jsp
  src/main/webapp/common-google-register.jsp
  src/main/webapp/common-login.jsp
  src/main/webapp/customer_main.jsp
  src/main/webapp/store_main.jsp
Labels: 인증/인가, JSP, BE, 공통

#52 [feat-customer] 체험단 MY > 활동 페이지 API와 뷰 연동
  src/main/java/com/nuguna/freview/customer/controller/CustomerMyActivityInfoApiController.java
  src/main/java/com/nuguna/freview/customer/controller/page/CustomerMyPageController.java
  src/main/java/com/nuguna/freview/customer/dto/request/CustomerMyLikedPostsRetrieveRequestDTO.java
  src/main/java/com/nuguna/freview/customer/dto/request/CustomerMyZzimedStoresRetrieveRequestDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/MyLikePostInfoDTO.java
  src/main/java/com/nuguna/freview/customer/service/CustomerMyActivityService.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerMyActivityServiceImpl.java
  src/main/resources/mappers/customer/customer-my-activity-map.xml
  src/main/webapp/WEB-INF/spring/servlet-context.xml
  src/main/webapp/customer-my-activity-info.jsp
  src/main/webapp/customer-my-brand-info.jsp
  src/main/webapp/customer-my-notification-info.jsp
Labels: 체험단, JSP, BE

#56 [feat-store] 체험페이지 > 지원자 리스트 | 제안자 리스트 | 확정자 리스트 | 리뷰 리스트
  src/main/java/com/nuguna/freview/store/controller/StoreExperienceApiController.java
  src/main/java/com/nuguna/freview/store/controller/page/StoreExperiencePageController.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreApplyListDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreFinalApplyListDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreFinalProposalListDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreProposalListDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreReviewListDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/page/StoreApplyListResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/page/StoreFinalApplyListResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/page/StoreFinalProposalListResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/page/StoreProposalListResponseDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/page/StoreReviewListResponseDTO.java
  src/main/java/com/nuguna/freview/store/mapper/StoreExperiencePageMapper.java
  src/main/java/com/nuguna/freview/store/service/StoreExperiencePageService.java
  src/main/java/com/nuguna/freview/store/service/impl/StoreExperiencePageServiceImpl.java
  src/main/resources/mappers/store/page/store-experience-page-map.xml
  src/main/webapp/store-experience-page.jsp
Labels: 스토어, JSP, BE

#57 [feat-store] 다른 사람이 보는 스토어 브랜딩 뷰-API 연동
  src/main/java/com/nuguna/freview/admin/service/ExperienceLogService.java
  src/main/java/com/nuguna/freview/admin/service/LikeLogService.java
  src/main/java/com/nuguna/freview/admin/service/PointLogService.java
  src/main/java/com/nuguna/freview/admin/service/UserInterestLogService.java
  src/main/java/com/nuguna/freview/admin/service/ZzimLogService.java
  src/main/java/com/nuguna/freview/customer/controller/page/CommonPageController.java
  src/main/java/com/nuguna/freview/customer/controller/page/CustomerMyPageController.java
  src/main/java/com/nuguna/freview/customer/mapper/OtherBrandPageUtilMapper.java
  src/main/java/com/nuguna/freview/customer/service/OtherBrandPageUtilService.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerUtilServiceImpl.java
  src/main/java/com/nuguna/freview/customer/service/impl/OtherBrandPageUtilServiceImpl.java
  src/main/resources/mappers/customer/other-brand-util-map.xml
  src/main/webapp/customer-brand-info.jsp
  src/main/webapp/customer-my-brand-info.jsp
  src/main/webapp/store-brand-info.jsp
  src/main/webapp/store-my-brand-info.jsp
Labels: 스토어, JSP, BE

#55 [feat-store] 스토어 MY > 브랜딩 페이지 뷰 - API 연동
  src/main/java/com/nuguna/freview/OAuth/service/impl/OAuthServiceImpl.java
  src/main/java/com/nuguna/freview/customer/controller/page/CommonPageController.java
  src/main/java/com/nuguna/freview/customer/controller/page/CustomerMyPageController.java
  src/main/java/com/nuguna/freview/customer/mapper/OtherBrandPageUtilMapper.java
  src/main/java/com/nuguna/freview/customer/service/OtherBrandPageUtilService.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerUtilServiceImpl.java
  src/main/java/com/nuguna/freview/customer/service/impl/OtherBrandPageUtilServiceImpl.java
  src/main/java/com/nuguna/freview/store/controller/StoreBrandPageController.java
  src/main/java/com/nuguna/freview/store/dto/request/StoreMyTagsUpdateRequestDTO.java
  src/main/java/com/nuguna/freview/store/dto/response/StoreBrandInfoResponseDTO.java
  src/main/resources/mappers/customer/other-brand-util-map.xml
  src/main/resources/mappers/store/store-brand-page-map.xml
  src/main/webapp/WEB-INF/spring/security-context.xml
  src/main/webapp/customer-brand-info.jsp
  src/main/webapp/customer-my-brand-info.jsp
  src/main/webapp/store-brand-info.jsp
  src/main/webapp/store-my-brand-info.jsp
Labels: 스토어, JSP, BE

#61 [feat-store] 스토어 My 페이지 시큐리티 적용 및 header, footer 적용, 컨트롤러 경로 수정
  src/main/java/com/nuguna/freview/store/controller/page/StoreActivityPageController.java
  src/main/java/com/nuguna/freview/store/controller/page/StoreBrandPageController.java
  src/main/java/com/nuguna/freview/store/controller/page/StoreExperiencePageController.java
  src/main/java/com/nuguna/freview/store/controller/page/StoreMainPageController.java
  src/main/java/com/nuguna/freview/store/controller/page/StoreNotificationPageController.java
  src/main/webapp/store-activity-page.jsp
  src/main/webapp/store-brand-info.jsp
  src/main/webapp/store-experience-page.jsp
  src/main/webapp/store-mainpage.jsp
  src/main/webapp/store-mojip-create.jsp
  src/main/webapp/store-my-brand-info.jsp
  src/main/webapp/store-notification-page.jsp
Labels: 스토어, JSP, BE

#62 [feat-admin/commo] 코드 리팩토링
  src/main/java/com/nuguna/freview/admin/constant/ManagementPageConstant.java
  src/main/java/com/nuguna/freview/admin/controller/CustomerManageApiController.java
  src/main/java/com/nuguna/freview/admin/controller/ProfileApiController.java
  src/main/java/com/nuguna/freview/admin/controller/StoreManageApiController.java
  src/main/java/com/nuguna/freview/admin/controller/page/AdminController.java
  src/main/java/com/nuguna/freview/common/controller/MyPageController.java
  src/main/java/com/nuguna/freview/common/controller/NoticeApiController.java
  src/main/java/com/nuguna/freview/common/controller/page/MojipController.java
  src/main/java/com/nuguna/freview/common/mapper/BoardMapper.java
  src/main/java/com/nuguna/freview/common/mapper/NoticeMapper.java
  src/main/java/com/nuguna/freview/common/mapper/PostMapper.java
  src/main/java/com/nuguna/freview/common/service/BoardService.java
  src/main/java/com/nuguna/freview/common/service/NoticeService.java
  src/main/java/com/nuguna/freview/common/service/PostService.java
  src/main/java/com/nuguna/freview/common/service/impl/BoardServiceImpl.java
  src/main/java/com/nuguna/freview/common/service/impl/CommonBrandServiceImpl.java
  src/main/java/com/nuguna/freview/common/service/impl/MojipServiceImpl.java
  src/main/java/com/nuguna/freview/common/service/impl/NoticeServiceImpl.java
  src/main/java/com/nuguna/freview/common/service/impl/PostServiceImpl.java
  src/main/java/com/nuguna/freview/common/service/impl/RecommendationServiceImpl.java
  src/main/java/com/nuguna/freview/store/controller/StoreExperienceApiController.java
  src/main/java/com/nuguna/freview/store/service/StoreExperiencePageService.java
  src/main/java/com/nuguna/freview/store/service/impl/StoreExperiencePageServiceImpl.java
  src/main/resources/mappers/admin/hidden-review-map.xml
  src/main/resources/mappers/common/board-map.xml
  src/main/resources/mappers/common/mojip-map.xml
  src/main/resources/mappers/common/notice-map.xml
  src/main/resources/mappers/common/post-map.xml
  src/main/resources/mappers/common/recommendation-map.xml
  src/main/webapp/admin-management-customer.jsp
  src/main/webapp/admin-management-store.jsp
  src/main/webapp/admin-personal-profile.jsp
  src/main/webapp/common-customer-recommendation.jsp
  src/main/webapp/common-mojip-detail.jsp
  src/main/webapp/common-store-recommendation.jsp
  src/main/webapp/customer-brand-info.jsp
  src/main/webapp/header.jsp
  src/main/webapp/store-brand-info.jsp
  src/main/webapp/store-experience-page.jsp
Labels: JSP, BE, 공통
