Repository nugunaTeam/FReview2, pull requests merged in 2024-07, with the labels that each got.

#9 [feat-customer] 체험단 브랜딩 수정 페이지 API와 JSP 연동 완료 ( 프로필 사진 업데이트 제외 ) | 리뷰 로그 페이지네이션 API 구현 완료
  src/main/java/com/nuguna/freview/customer/constant/CustomerConstant.java
  src/main/java/com/nuguna/freview/customer/controller/CustomerMyBrandInfoApiController.java
  src/main/java/com/nuguna/freview/customer/controller/CustomerReviewApiController.java
  src/main/java/com/nuguna/freview/customer/controller/page/CustomerPageController.java
  src/main/java/com/nuguna/freview/customer/dto/request/CustomerMyReviewsRetrieveRequestDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/ReviewLogInfoDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/page/CustomerBrandInfoResponseDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/page/CustomerMyBrandPageInfoResponseDTO.java
  src/main/java/com/nuguna/freview/customer/mapper/CustomerBrandMapper.java
  src/main/java/com/nuguna/freview/customer/mapper/CustomerPageMapper.java
  src/main/java/com/nuguna/freview/customer/mapper/CustomerReviewMapper.java
  src/main/java/com/nuguna/freview/customer/service/CustomerBrandService.java
  src/main/java/com/nuguna/freview/customer/service/CustomerReviewService.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerBrandServiceImpl.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerPageServiceImpl.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerReviewServiceImpl.java
  src/main/resources/mappers/customer/customer-brand-map.xml
  src/main/resources/mappers/customer/customer-review-map.xml
  src/main/resources/mappers/customer/page/customer-page-map.xml
  src/main/webapp/customer-my-brand-info.jsp
Labels: 체험단, JSP, BE

#10 [feat-customer/store] 체험단/스토어 상호간 찜하기, 찜 취소 기능 API 구현 완료
  src/main/java/com/nuguna/freview/common/CannotZzimMyself.java
  src/main/java/com/nuguna/freview/common/CannotZzimMyselfValidator.java
  src/main/java/com/nuguna/freview/common/controller/CommonBrandPageApiController.java
  src/main/java/com/nuguna/freview/common/dto/request/ZzimRequestDTO.java
  src/main/java/com/nuguna/freview/common/dto/response/ZzimResponseDTO.java
  src/main/java/com/nuguna/freview/common/mapper/CommonBrandMapper.java
  src/main/java/com/nuguna/freview/common/service/CommonBrandService.java
  src/main/java/com/nuguna/freview/common/service/impl/CommonBrandServiceImpl.java
  src/main/resources/mappers/common/common-brand-map.xml
Labels: 체험단, 스토어, BE

#20 [feat-admin] 게시글 좋아요 누계 시스템 구현
  src/main/java/com/nuguna/freview/admin/mapper/LikeAccumulationMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/LikeLogMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/LikePostProcessingLogMapper.java
  src/main/java/com/nuguna/freview/admin/service/LikeLogService.java
  src/main/java/com/nuguna/freview/admin/vo/LikeAccumulationVO.java
  src/main/java/com/nuguna/freview/admin/vo/LikeLogVO.java
  src/main/java/com/nuguna/freview/common/dto/response/MojipPostDetailDTO.java
  src/main/java/com/nuguna/freview/common/service/impl/MojipServiceImpl.java
  src/main/java/com/nuguna/freview/common/service/impl/PostServiceImpl.java
  src/main/resources/mappers/admin/like-accumulation-map.xml
  src/main/resources/mappers/admin/like-log-map.xml
  src/main/resources/mappers/admin/like-postprocessing-log-map.xml
  src/main/resources/mappers/common/mojip-map.xml
  src/main/webapp/WEB-INF/spring/servlet-context.xml
Labels: 어드민, BE, 공통

#21 [feat-admin] 유저 별 노쇼 횟수 누계 시스템 구현
  src/main/java/com/nuguna/freview/admin/dto/ExperienceLogDTO.java
  src/main/java/com/nuguna/freview/admin/dto/response/CustomerInfoDTO.java
  src/main/java/com/nuguna/freview/admin/mapper/ExperienceMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/ExperiencePostProcessingLogMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/LikeAccumulationMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/NoshowAccumulationMapper.java
  src/main/java/com/nuguna/freview/admin/service/ExperienceLogService.java
  src/main/java/com/nuguna/freview/admin/service/LikeLogService.java
  src/main/java/com/nuguna/freview/admin/service/impl/AdminServiceImpl.java
  src/main/resources/mappers/admin/admin-map.xml
  src/main/resources/mappers/admin/experience-map.xml
  src/main/resources/mappers/admin/experience-postprocessing-log-map.xml
  src/main/resources/mappers/admin/like-accumulation-map.xml
  src/main/resources/mappers/admin/like-postprocessing-log-map.xml
  src/main/resources/mappers/admin/noshow-accumulation-map.xml
  src/main/webapp/admin-management-customer.jsp
Labels: 어드민, JSP, BE

#22 [feat-customer] 체험단 브랜딩 수정 페이지 - 리뷰 로그 기능 구현 완료
  src/main/java/com/nuguna/freview/customer/constant/CustomerConstant.java
  src/main/java/com/nuguna/freview/customer/controller/CustomerReviewApiController.java
  src/main/java/com/nuguna/freview/customer/controller/page/CustomerPageController.java
  src/main/java/com/nuguna/freview/customer/dto/request/CustomerMyReviewsRetrieveRequestDTO.java
  src/main/java/com/nuguna/freview/customer/dto/request/CustomerReviewRegisterRequestDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/CustomerMyReviewsRetrieveResponseDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/ReviewLogInfoDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/ReviewPaginationInfoResponseDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/page/CustomerMyBrandPageInfoResponseDTO.java
  src/main/java/com/nuguna/freview/customer/exception/AlreadyExistReviewException.java
  src/main/java/com/nuguna/freview/customer/exception/IllegalReviewPageAccessException.java
  src/main/java/com/nuguna/freview/customer/exception/MalformedReviewUrlException.java
  src/main/java/com/nuguna/freview/customer/exception/handler/CustomerApiExceptionHandler.java
  src/main/java/com/nuguna/freview/customer/mapper/CustomerReviewMapper.java
  src/main/java/com/nuguna/freview/customer/service/ReviewService.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerPageServiceImpl.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerReviewServiceImpl.java
  src/main/java/com/nuguna/freview/customer/service/impl/ReviewServiceImpl.java
  src/main/java/com/nuguna/freview/customer/validation/UrlValidator.java
  src/main/java/com/nuguna/freview/customer/validation/annotation/ValidUrl.java
  src/main/resources/mappers/customer/customer-review-map.xml
  src/main/webapp/customer-my-brand-info.jsp
Labels: 체험단, JSP, BE

#25 [feat-admin] 유저 별 받은 찜 개수 누계 시스템 구현
  src/main/java/com/nuguna/freview/admin/mapper/ZzimAccumulationMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/ZzimLogMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/ZzimPostprocessingLogMapper.java
  src/main/java/com/nuguna/freview/admin/service/ZzimLogService.java
  src/main/java/com/nuguna/freview/admin/vo/ZzimAccumulationVO.java
  src/main/java/com/nuguna/freview/admin/vo/ZzimLogVO.java
  src/main/resources/mappers/admin/zzim-accumulation-map.xml
  src/main/resources/mappers/admin/zzim-log-map.xml
  src/main/resources/mappers/admin/zzim-postprocessing-log-map.xml
Labels: 어드민, BE, 공통

#26 [feat-admin] 일 별 성사된 체험 횟수 누계 시스템 구현
  src/main/java/com/nuguna/freview/admin/dto/DoneExperienceDTO.java
  src/main/java/com/nuguna/freview/admin/dto/DoneExperienceLogDTO.java
  src/main/java/com/nuguna/freview/admin/dto/NoShowExperienceLogDTO.java
  src/main/java/com/nuguna/freview/admin/mapper/DoneExperienceAccumulationMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/ExperienceMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/ExperiencePostProcessingLogMapper.java
  src/main/java/com/nuguna/freview/admin/service/ExperienceLogService.java
  src/main/resources/mappers/admin/done-experience-accumulation-map.xml
  src/main/resources/mappers/admin/experience-map.xml
  src/main/resources/mappers/admin/experience-postprocessing-log-map.xml
Labels: 어드민, BE

#29 [feat-admin] 유저 별 관심사 수집 시스템 구현
  src/main/java/com/nuguna/freview/admin/mapper/UserFoodTypeMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/UserInterestAccumulationMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/UserInterestLogMapper.java
  src/main/java/com/nuguna/freview/admin/mapper/UserInterestPostprocessingLogMapper.java
  src/main/java/com/nuguna/freview/admin/service/UserInterestLogService.java
  src/main/java/com/nuguna/freview/admin/vo/UserInterestLogVO.java
  src/main/java/com/nuguna/freview/common/controller/MojipApiController.java
  src/main/java/com/nuguna/freview/common/dto/request/MojipListRequestDTO.java
  src/main/java/com/nuguna/freview/common/service/MojipService.java
  src/main/java/com/nuguna/freview/common/service/impl/MojipServiceImpl.java
  src/main/resources/mappers/admin/rank-point-log-map.xml
  src/main/resources/mappers/admin/user-food-type-map.xml
  src/main/resources/mappers/admin/user-interest-accumulation-map.xml
  src/main/resources/mappers/admin/user-interest-log-map.xml
  src/main/resources/mappers/admin/user-interest-postprocessing-log-map.xml
  src/main/resources/mappers/common/mojip-map.xml
  src/main/webapp/common-mojip-board.jsp
  src/main/webapp/common-store-recommendation.jsp
Labels: 어드민, BE, 공통

#28 [feat-customer] 체험단 브랜딩 수정 페이지 - 프로필 사진 수정 기능 구현 완료
  pom.xml
  src/main/java/com/nuguna/freview/customer/controller/CustomerMyBrandInfoApiController.java
  src/main/java/com/nuguna/freview/customer/dto/request/CustomerProfilePhotoUpdateRequestDTO.java
  src/main/java/com/nuguna/freview/customer/mapper/CustomerBrandMapper.java
  src/main/java/com/nuguna/freview/customer/mapper/UserFileMapper.java
  src/main/java/com/nuguna/freview/customer/service/CustomerBrandService.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerBrandServiceImpl.java
  src/main/java/com/nuguna/freview/global/FileController.java
  src/main/java/com/nuguna/freview/global/FileUtil.java
  src/main/java/com/nuguna/freview/global/exception/GlobalExceptionHandler.java
  src/main/resources/mappers/customer/customer-brand-map.xml
  src/main/resources/mappers/customer/user-file-map.xml
  src/main/webapp/META-INF/context.xml
  src/main/webapp/WEB-INF/spring/servlet-context.xml
  src/main/webapp/customer-my-brand-info.jsp
Labels: 체험단, JSP, BE

#30 [feat-customer] 체험단 다른 유저가 보는 페이지 / 제안하기 API 구현
  src/main/java/com/nuguna/freview/common/vo/user/UserCode.java
  src/main/java/com/nuguna/freview/customer/controller/CustomerMyBrandInfoApiController.java
  src/main/java/com/nuguna/freview/customer/controller/CustomerReviewApiController.java
  src/main/java/com/nuguna/freview/customer/controller/page/CustomerMyPageController.java
  src/main/java/com/nuguna/freview/customer/controller/page/CustomerOtherPageController.java
  src/main/java/com/nuguna/freview/customer/dto/request/CustomerMyAgeGroupUpdateRequestDTO.java
  src/main/java/com/nuguna/freview/customer/dto/request/CustomerMyFoodTypesUpdateRequestDTO.java
  src/main/java/com/nuguna/freview/customer/dto/request/CustomerMyIntroduceUpdateRequestDTO.java
  src/main/java/com/nuguna/freview/customer/dto/request/CustomerMyNicknameUpdateRequestDTO.java
  src/main/java/com/nuguna/freview/customer/dto/request/CustomerMyProfilePhotoUpdateRequestDTO.java
  src/main/java/com/nuguna/freview/customer/dto/request/CustomerMyReviewRegisterRequestDTO.java
  src/main/java/com/nuguna/freview/customer/dto/request/CustomerMyTagsUpdateRequestDTO.java
  src/main/java/com/nuguna/freview/customer/dto/request/ProposalToCustomerRequestDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/CustomerMyAgeGroupUpdateResponseDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/CustomerMyFoodTypesUpdateResponseDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/CustomerMyIntroduceUpdateResponseDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/CustomerMyNicknameUpdateResponseDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/CustomerMyProfilePhotoUpdateResponseDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/CustomerMyReviewRegisterResponseDTO.java
  src/main/java/com/nuguna/freview/customer/dto/response/CustomerMyTagsUpdateResponseDTO.java
  src/main/java/com/nuguna/freview/customer/exception/AlreadyExistProposalException.java
  src/main/java/com/nuguna/freview/customer/exception/IllegalUserSeqException.java
  src/main/java/com/nuguna/freview/customer/exception/handler/CustomerApiExceptionHandler.java
  src/main/java/com/nuguna/freview/customer/mapper/CustomerOtherPageMapper.java
  src/main/java/com/nuguna/freview/customer/service/CustomerBrandService.java
  src/main/java/com/nuguna/freview/customer/service/CustomerOtherPageService.java
  src/main/java/com/nuguna/freview/customer/service/ReviewService.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerBrandServiceImpl.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerOtherPageServiceImpl.java
  src/main/java/com/nuguna/freview/customer/service/impl/CustomerReviewServiceImpl.java
  src/main/resources/mappers/customer/page/customer-other-page-map.xml
  src/main/webapp/boss-my-notification.jsp
  src/main/webapp/charts-echarts.html
  src/main/webapp/cust_main.jsp
  src/main/webapp/customer-brand-info.jsp
  src/main/webapp/customer-my-activity-info.jsp
  src/main/webapp/customer-my-notification.jsp
  src/main/webapp/icons-boxicons.html
  src/main/webapp/index.html
Labels: 체험단, JSP, BE

#33 [feat-common] 체험단 및 스토어 추천 페이지 - 유저 맞춤형 추천 서비스 노출
  src/main/java/com/nuguna/freview/common/controller/RecommendationApiController.java
  src/main/java/com/nuguna/freview/common/dto/InterestAccumulationDTO.java
  src/main/java/com/nuguna/freview/common/dto/PersonalizedUserDTO.java
  src/main/java/com/nuguna/freview/common/dto/request/PersonalizedUserRequestDTO.java
  src/main/java/com/nuguna/freview/common/dto/response/PersonalizedUsersResponseDTO.java
  src/main/java/com/nuguna/freview/common/mapper/InterestAccumulationMapper.java
  src/main/java/com/nuguna/freview/common/mapper/RecommendationMapper.java
  src/main/java/com/nuguna/freview/common/service/RecommendationService.java
  src/main/java/com/nuguna/freview/common/service/impl/RecommendationServiceImpl.java
  src/main/resources/mappers/common/InterestAccumulation-map.xml
  src/main/resources/mappers/common/recommendation-map.xml
  src/main/webapp/WEB-INF/spring/servlet-context.xml
  src/main/webapp/common-customer-recommendation.jsp
  src/main/webapp/common-store-recommendation.jsp
Labels: JSP, BE, 공통
